/* Light theme */
:root .lpx-theme-light {
    --lpx-logo: url('/images/logo-dark.png');
    --lpx-logo-icon: url('/images/logo-dark-icon.png'); /* Or use logo-dark.png if no icon version */
}

/* Dim and Dark themes */
:root .lpx-theme-dim,
:root .lpx-theme-dark {
    --lpx-logo: url('/images/logo-light.png');
    --lpx-logo-icon: url('/images/logo-light-icon.png');
}
